*{
    margin:0;
    padding:0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    min-width: min-content;
}

nav {
    height: 80px;
    background-color:darkcyan;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.25cm 0.5cm;
}

.logo {
    font-size: 25px;
    font-weight: bold;
    color: black;
    padding: 0.2rem;
}

nav a {
    text-decoration: none;
    color:beige;
    padding: 0 1.5rem;
    font-weight: 500;
}

nav a:hover {
    color:orange;
}

span {
    color:orange;
}

.profile {
    background-image: url(50-Beautiful-and-Minimalist-Presentation-Backgrounds-05.jpg);
    background-size:cover;
}

.profile-container {
    display:grid;
    grid-template-columns: 1fr 1fr;
    padding: 3rem 1rem;
}

.column-left {
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: flex-start;
    color:black;
    padding-left: 6rem;
    border-color: black;
    border-width: 20px;
}

.column-left h1{
    margin-bottom: 1rem;
    margin-top: 2rem;
    font-size: 2.75rem;
    text-align-last: center;
    font-family: 'Times New Roman', Times, serif;
    color: brown;
    font-weight: bolder;
}

.column-left p{
    margin-bottom: 1rem;
    font-size: 1.5rem;
    line-height: 1.5;
    font-family: 'Times New Roman', Times, serif;
}

.about {
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: flex-start;
    color:black;
}

.about h3 {
    font-size: 1.75rem;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
    text-align: center;
    color: brown;
}

.column-right {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 2rem;
    margin-top: 2rem;
}

img {
    width: 325px;
    height: 500px;
    object-fit: cover;
    box-shadow: 10px 10px 5px;
}

img:hover {
    width: 280px;
    height: 420px;
    transition: 0.2s ;
    cursor:pointer;
}

@media screen and (max-width:780px) {
    .profile-container {
        grid-template-columns: 1fr;
    }
    .column-left {
        text-align: center;
        padding: 1rem; 
    }
}
