*{
    margin:0;
    padding:0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav {
    height: 80px;
    background-color:darkcyan;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.25cm 0.5cm;
    min-width: 347px;
}

.logo {
    font-size: 25px;
    font-weight: bold;
    color: black;
    padding: 0.2rem;
}

nav a {
    text-decoration: none;
    color:beige;
    padding: 0 1.5rem;
    font-weight: 500;
}

nav a:hover {
    color:orange;
}

span {
    color:orange;
}

.projects {
    background-image: url(50-Beautiful-and-Minimalist-Presentation-Backgrounds-05.jpg);
    background-size:cover;
    min-width: 384.5px;
}

.projects-container {
    display:flex;
    flex-direction: column;
    text-align: center ;
    width: 100%;
}

.intros h1{
    margin-bottom: 2rem;
    margin-top: 2rem;
    font-size: 3rem;
    font-family: 'Times New Roman', Times, serif;
    text-align: center ;
}

.intros {
    text-align: center;
    align-items: center;
    justify-content: center;
}

.intros h2 {
    margin-top: 1rem;
    font-size: 1.90rem;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    cursor: pointer;
    text-decoration: underline;
    color: brown;
}

.intros p {
    margin-bottom: 3rem;
    font-size: 1.25rem;
    line-height: 1.5;
    font-family: 'Times New Roman', Times, serif;
}

img {
    width : 400px;
    height: 400px;
    object-fit: cover;
    border: 15px black;
    box-shadow: 8px 10px 5px black;
}

img:hover {
    width: 450px;
    height: 450px;
    transition: 0.3s ;
    cursor:pointer;
}

@media screen and (max-width:780px) {
    .projects-container {
        grid-template-columns: 1fr;
    }
    img {
        width : 300px;
        height: 300px;
        object-fit: cover;
        border: 15px black;
        box-shadow: 8px 10px 5px black;
    }
    img:hover {
        width: 300px;
        height: 300px;
        transition: 0.3s ;
    }

}
